{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {#<a href="{{ url(object) }}" class="btn btn-sm btn-default view_link"
           title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
            <i class="glyphicon glyphicon-zoom-in"></i>
            {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
        </a> #}
    </div>
{% endblock %}
