{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% set slugAdmin = sonata_admin.adminPool.adminByAdminCode('loconox_entity_routing.admin.slug') %}
    {% spaceless %}
        {% for slug in admin.slugs(object) %}
            {{ constant('ADW\\Bundle\\RoutingBundle\\Model\\RouteInterface::SEPARATOR') }}<a
            href="{{ slugAdmin.generateObjectUrl('show', slug) }}" >{{ slug.slug }}</a>
        {% endfor %}
    {% endspaceless %}
{% endblock %}
